@tailwind base;
@tailwind components;
@tailwind utilities;

/* to have our own utility class for scrollbar */
@layer utilities {
  /* Hide bydefault scrollbar for chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
